@import "../../styles/variables.scss";

.button {
  border-radius: 5px;
  border: none;
  outline: 1px solid $primary;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition:
    background 0.3s ease-in-out,
    color 0.3s ease-in-out;

  @media (min-width: 961px) {
    &:hover {
      background: darken($primary, 10%);
    }

    &:active {
      background: lighten($primary, 10%);
    }
  }

  &--cover {
    color: $white;
    background: $primary;
  }

  &--link {
    color: $black;
    background: none;

    @media (min-width: 961px) {
      &:hover,
      &:active {
        color: $white;
      }
    }
  }

  &--disabled {
    outline: 1px solid $light-black;
    background: $light-black;
    opacity: 0.2;
    pointer-events: none;
  }
}
