@import "../../styles/variables.scss";

.card {
  width: 100%;
  border-radius: 20px;
  color: $light-black;
  background: $white;
  text-decoration: none;
  transition:
    transform 0.3s ease-in-out,
    filter 0.3s ease-in-out;
  filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.1));
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 20px;

    h2 {
      margin-bottom: 10px;
      font-size: 18px;
      color: $primary;
    }

    .geo-block,
    .line,
    .description,
    .services {
      margin-bottom: 20px;
    }

    .geo-block {
      display: flex;
      align-items: baseline;
      gap: 5px;
      font-size: 14px;
    }

    .line {
      width: 100%;
      border-color: $gray;
    }

    .date-amount-block {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .date-block {
        display: flex;
        gap: 5px;
      }

      .amount {
        color: $secondary;
      }

      p {
        font-family: "Roboto", sans-serif;
      }
    }

    .services {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .service-block {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    .link {
      width: fit-content;
      color: rgba(0, 94, 255, 0.6);
      transition: color 0.3s ease-in-out;

      &:hover {
        color: darken(rgba(0, 94, 255, 0.6), 10%);
      }
    }
  }
}
