@import "../../styles/variables.scss";

.container {
  background: $background;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    min-height: 75px;
    margin: 0 auto;
    padding-inline: 20px;
  }
}
