@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 860px;
  min-height: 124px;
  margin-bottom: 52px;
  padding-inline: 42px;
  border-radius: 10px;
  background: $white;
  box-shadow: 0px 2px 80px 2px $gray;

  @include onMobile {
    padding-inline: 20px;
    margin-bottom: 26px;
  }

  .dropdown {
    position: relative;
    width: 100%;
    max-width: 360px;
    z-index: 1;

    .input-block {
      position: relative;
      width: 100%;

      .icon {
        position: absolute;
        top: 19px;
        left: 18px;
        font-size: 20px;
        color: $primary;
      }

      input {
        width: 100%;
        min-height: 60px;
        padding-inline: 52px 24px;
        border-radius: 5px;
        border: none;
        outline: 1px solid $gray;
        font-size: 20px;
        color: $light-black;
        transition: outline-color 0.3s ease-in-out;

        &::placeholder {
          color: lighten($light-black, 40%);
        }

        &:hover {
          outline-color: $primary;
        }

        &:focus {
          outline-color: darken($primary, 10%);
        }
      }
    }

    .list {
      position: absolute;
      top: 70px;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      outline: 1px solid $gray;
      background: #fff;
      filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.1));

      .not-found,
      .item {
        padding: 6px;
      }

      .not-found {
        text-align: center;
      }

      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        cursor: pointer;

        img,
        svg {
          width: 30px;
          height: 20px;
        }

        img {
          border-radius: 3px;
        }

        svg {
          color: $light-black;
        }

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        &--active,
        &:hover {
          outline: 1px solid $primary;
        }
      }
    }
  }
}
